/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:700|Hind:400:700');

body {
  margin: 0;
  background-color: #EBEBEB;
  color: #313332;
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  padding: 14vw 0 12vh;
}

h1 {
  font-family: 'Miriam Libre', sans-serif;
  color: #915050;
  margin: 0;
}

h1 a,
h1 a:hover {
  color: black;
  text-decoration: none;
}

h2 { margin: 0; }

a {
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;

  color: #313332;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #7A7F7D;
}

b { font-weight: 700; }

option, button { cursor: pointer; }

main {
  padding: 3vh 6vw;
}

