footer {
  color: #F2F2F2;
  background-color: #313332;
  padding: 1vh 6vw;
  width: calc(100% - 12vw);
  position: fixed;
  bottom: 0;
}

footer p {
  margin: 0;
}

footer a {
  margin: 0;
  color: #F2F2F2;
}
