main {
  padding: 3vh 6vw;
}

.block-list {
  display: flex;
  justify-content: start;
  align-items: baseline;
  padding: 2vh 0;
}

.block-list p {
  width: 3vh;
  padding: 0 3vw;
  margin: 0;
  text-align: center;
  color: #5b5b5b;
}

.block-list h2 {
  font-size: 4vh;
  text-decoration: none;
}

.block-list span {
  display: block;
  color: #5b5b5b;
  background-color: #DBDBDB;
  padding: 0.4vh 0.8vw;
  border-radius: 5px;
  align-self: center;
}
