
<div *ngIf="sessionService.user && location">

<form>
  <p>Create a new question. Remember that the answers will be "Yes", "No", "I dont know".</p>
  <input type="text" [(ngModel)]="newQuest" name="newQuest" placeholder="Write here your quest..." />

  <!-- continentes -->
  <select name="location" [(ngModel)]="location" required >
    <option selected disabled>Choose location</option>
    <option value="{{location.city}}">{{location.city}}</option>
    <option value="{{location.country}}">{{location.country}}</option>
    <option value="{{location.continent}}">{{location.continent}}</option>
  </select>

  <input type="date" [(ngModel)]="endDate" name="endDate" required />

  <button (click)="createQuest()">Create</button>
</form>

</div>
