<!-- <div *ngIf="!sessionService.user"> -->

  <form class="invisible">
    <h2>Login</h2>
    <label>Username</label>
    <input type="text" [(ngModel)]="username" name="username" required />
    <br>
    <label>Password</label>
    <input type="password" [(ngModel)]="password" name="password" required />

    <button (click)="login()">login</button>
  </form>

  <!--form class="invisible"-->
  <form>
    <h2>Signup</h2>
    <label>Username</label>
    <input type="text" [(ngModel)]="username" name="username" required />
    <br>
    <label>E-mail</label>
    <input type="email" [(ngModel)]="email" name="email" required />
    <br>
    <label>Password</label>
    <input type="password" [(ngModel)]="password" name="password" required />
    <br>
    <label>Birthdate</label>
    <input type="date" [(ngModel)]="date" name="date" required />
    <br>
    <select [(ngModel)]="genre" name="genre" required>
      <option value="Woman">Woman</option> 
      <option value="Man">Man</option>
      <option value="Other" selected>Other</option>
    </select>
    <br>
    <!-- continentes -->
    <select (change)="getCountries(con.value)" #con name="continent" required >
      <option value="Africa">Africa</option>
      <option value="Americas">Americas</option>
      <option value="Asia">Asia</option>
      <option value="Europe">Europe</option>
      <option value="Oceania">Oceania</option>
    </select>
    <!-- paises del continente elegido -->
    <select [(ngModel)]="country" name="country" #coun required (change)="getCities(coun.value)">
      <option *ngFor="let c of countries; let i" value="{{i}}">{{c.name}}</option>
    </select>
    <!-- ciudades del pais elejido -->
    <select *ngIf="country" [(ngModel)]="location" name="location" required >
        <option value="{{countries[index].capital}}">{{countries[index].capital}}</option>
    </select>

    <button (click)="signup()">signup</button>
  </form>
  
  <p class="error">{{ error }}</p>
  
<!-- </div> -->

<div *ngIf="sessionService.user">
    <button (click)="sessionService.logout().subscribe()">logout</button>
</div>
