header {
  padding: 3vh 6vw;
  position: fixed;
  top: 0;
  width: calc(100% - 12vw);
  background-color: #f9f9f9;
}

h1 {
  display: inline-block;
  width: 50%;
}

.info-right {
  display: inline-block;
  width: 50%;
  text-align: right;
}

p {
  margin: 1vh 0;
}